/* Global Styles */

body {
    background-color: #b7915c;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #b7915c 32px ), repeating-linear-gradient( #16161955, #161619 );
    font-family: "Lora", serif;
}


img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#container {
    background-color: #ebe9da;
}

#main_background {
    background: url("../images/bass_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#center_text_main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: #b7915c;
    text-shadow: 2px 2px 2px #000;
    font-family: "Merriweather", serif;
}

#center_text_header {
    text-align: center;
    
}

#video_container {
    padding-top: 2%;
    display: flex;
     justify-content: center;
    align-items: center;
}

#sticky-footer {
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: rgb(0, 0, 0);
    }
  

/* Mobile Styles */

@media (min-width: 320px) {
    nav{
        background-color: black;
        padding: 5px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: block;
    }

    nav li a {
        display: block;
        height: 35px;
        line-height: 35px;
        border-radius: 5px;
        background-color: #8596A2;
        color: white;
        font-size: 24px;
        text-decoration: none;
        margin-top: 5px;
    }

    nav li a:hover {
        background-color: #b7915c;
    }

    .bass_images {
        width: 90%;
        max-height: 50%;
        object-fit: contain;
    }

    .bass_images_history {
        width: 50%;
        max-height: 50%;
        object-fit: contain;
        border: 5px;
        border-style: groove;
    }

    main {
        padding: 15px;
    }

    #highlight_heading {
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif ;
        color: #C89B39;
        text-shadow: 1px 1px 1px #000;
        font-family: "Merriweather", serif;
        font-weight: 900;
    }

    footer {
        text-align: center;
        padding: 10px;
    }

}

/* Tablet Styles */

@media (min-width: 768px) {
    nav li {
        display: inline-block
    }

    nav li a{
        width: 125px;
        border-radius: 5px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }

}

/* Desktop Styles */

@media (min-width: 1024px){
    #container {
        width: 65%;
        margin: 0px auto;
        border: 5px solid black;
        
    }

    nav {
        padding: 1px;
        margin: 0;
    }

    nav li a {
        background-color: black;
    }

    hr {
        display: none;
    }

    #multi_col {
        display: flex;
    }

    .col {
        margin: 15px;
        padding: 15px;
        border: 2px solid black;
    }

    .break {
        text-decoration: underline;
        font-size: 30px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .bass_float_right {
        width: 50%;
        float: right;
        padding-left: 2%;
    }

    .bass_float_right:hover {
        transform: scale(1.01);
        opacity: .7;
    }

    .bass_float_left {
        width: 50%;
        float: left;
        padding-right: 2%;
    }

    .bass_float_left:hover {
        transform: scale(1.01);
        opacity: .7;
    }

    
}